#!/bin/bash

# Variables
HOSTNAME=`hostname`
DATE=`date -d yesterday +%Y%m%d`
LOG_DIR=/data/logs/errlog
SPLIT_LOG_DIR=${LOG_DIR}/split_errorlog

# make directory
mkdir -p ${LOG_DIR}/split_errorlog

# cut a current log file out to split-log-file
cp $LOG_DIR/${HOSTNAME}-error.log ${SPLIT_LOG_DIR}/${DATE}-${HOSTNAME}-error.log

# set the log-file size to 0
cp -f /dev/null $LOG_DIR/${HOSTNAME}-error.log

# delete errorlog order than 21 days 
rm `find ${SPLIT_LOG_DIR} -mtime +30`
